[submodule "hiredis"]
	path = hiredis
	url = https://github.com/redis/hiredis.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "tinycbor"]
	path = tinycbor
	url = https://github.com/intel/tinycbor
